body{
    max-width: 100%;
}
#bs{
    background-image: url("architect.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    width: 110%;
    background-position: center;
    background-size: cover;
}
.filter{
    filter: grayscale(100%);
}